/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e1e7ed; 
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif; 
    font-size: 16px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #b0b9c3;
    color: #2d3e50; 
}


th {
    background-color: #62788e; 
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr:nth-child(odd) {
    background-color: #d0d8df;
}

tbody tr:nth-child(even) {
    background-color: #e1e7ed;
}

/* Input Styling */
input {
    background-color: #c7d3e1;
    border: 1px solid #6c7c8d;
    padding: 5px;
    color: #2d3e50;
    border-radius: 4px;
    width: 90%;
}

input:focus {
    border-color: #4f6d8e;
    outline: none;
}

/* Button Styling */
button {
    background-color: #62788e; /* Blue button */
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-right: 5px;
    display: inline-block;
}

button:hover {
    background-color: #3e5b78;
}

button:disabled {
    background-color: #9aa5b1;
    color: #ffffff;
    cursor: not-allowed;
}

/* Edit & Delete Buttons Styling */
button:nth-child(1) {
    background-color: #5a8e5e;
}

button:nth-child(2) {
    background-color: #b24842;
}

td:last-child {
    text-align: center;
}

/* Search Input Styling */
input[type="text"] {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    color: #2d3e50;
}

input::placeholder {
    color: #135e70; 
  }

input[type="text"]:focus {
    border-color: #4f6d8e; 
    outline: none;
}


@media (max-width: 768px) {
    th, td {
        font-size: 14px;
    }
    button {
        font-size: 12px;
    }
    input[type="text"] {
        width: 100%;
    }
}
