<form (ngSubmit)="addCustomer()">
  <div>
    <p style="color: rgb(255, 251, 0)" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </div>
  <input
    type="text"
    [(ngModel)]="newCustomer.lastName"
    name="lastName"
    placeholder="Last Name"
    required
  />
  <input
    type="text"
    [(ngModel)]="newCustomer.firstName"
    name="firstName"
    placeholder="First Name"
    required
  />
  <input
    type="text"
    [(ngModel)]="newCustomer.middleName"
    name="middleName"
    placeholder="Middle Name"
  />
  <input
    type="text"
    [(ngModel)]="newCustomer.address"
    name="address"
    placeholder="Address (min 10 chars)"
    required
    minlength="10"
    maxlength="50"
  />
  <input
    type="date"
    [(ngModel)]="newCustomer.birthdate"
    name="birthdate"
    placeholder="Birthdate"
    required
  />
  <button type="submit">ADD CUSTOMER</button>
</form>

<app-customergrid></app-customergrid>
